#branding {
  background-color: #6aa4c2;
  background-image: -moz-linear-gradient(top, #6aa4c2, #558095);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6aa4c2), color-stop(1, #558095));
  background-image: -webkit-linear-gradient(#6aa4c2, #558095);
  background-image: linear-gradient(top, #6aa4c2, #558095);
}

#branding .divider-vertical {
	border-left-color: #558095;
	border-right-color: #6aa4c2;
}

#navigation, #navigation .btn.btn-navbar {
  background-color: #e26140;
  background-image: -moz-linear-gradient(top, #e26140, #ca433c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e26140), color-stop(1, #ca433c));
  background-image: -webkit-linear-gradient(#e26140, #ca433c);
  background-image: linear-gradient(top, #e26140, #ca433c);
}

#navigation .btn.btn-navbar:hover {
  background-color: #e26140;
  background-image: -moz-linear-gradient(top, #e26140, #ca433c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e26140), color-stop(1, #ca433c));
  background-image: -webkit-linear-gradient(#e26140, #ca433c);
  background-image: linear-gradient(top, #e26140, #ca433c);
}

.hero-unit {
	background: #6aa4c2;
}

#footer a, #tools a, #tools h2 { color: #fff; }