/** COLORS **/
/** FORMS **/
fieldset legend {
  font-size: 14px;
  line-height: normal;
}
html.js fieldset.collapsed {
  margin-bottom: 15px;
}
.form-actions .btn {
  margin: 15px 15px 0 0;
}
.radio,
.checkbox {
  padding-left: 0;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  margin: 0 8px 0 0;
}
/** SECTIONS **/
#branding,
#navigation {
  border-bottom: 1px solid black;
}
#branding h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
}
#branding h1 a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#search .block {
  float: right;
  margin: 12px 0 0 0;
}
#search .block.block-views {
  margin-top: 0;
}
#search a {
  color: #000000;
}
#search label {
  display: none;
}
#search .control-group,
#search input {
  margin: 0;
}
.page-header {
  padding: none;
  margin: 0;
  border: none;
}
.page-header h1 {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
#main-menu {
  border-bottom: 0;
  margin: 0;
  margin-top: 5px;
}
#main-menu li {
  float: right;
  margin-bottom: -3px;
}
#main-menu li a {
  padding: 6px 10px;
  margin-right: 4px;
  margin-bottom: 0;
}
#main-menu li a:hover {
  background: transparent;
  border: none;
  background: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  margin-bottom: 0;
}
#main-menu li.active a {
  border: none;
}
#main-menu li.active a:hover {
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  border: none;
}
#main-menu a {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
#footer-map {
  height: 550px;
  width: 100%;
  margin: 0;
  background: #ededed;
  position: relative;
}
#footer-map .block {
  margin: 0px;
}
#footer-map .shadow {
  background: url(../images/mapshadow.png) 0 0 repeat-x;
  height: 10px;
  width: 100%;
  float: left;
  position: absolute;
  z-index: 1;
}
#block-workbench-block {
  margin-bottom: 15px;
}
.nav-tabs li > a {
  padding: 6px 10px;
}
#map-shadow-top {
  top: 0px;
}
#map-shadow-bottom.shadow {
  bottom: 0px;
  background-position-y: -10px;
}
.has-footer-map #page {
  min-height: 200px;
}
body .vertical-tabs .form-type-textfield input {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/** SITE STAFF HOMEPAGE **/
.staff-frontpage #page .block {
  margin: 15px 0;
  padding: 0 10px 10px 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.staff-frontpage #page .block h2.block-title {
  width: 100%;
  line-height: 18px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 -10px 15px -10px;
  color: #595959;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.site-listing > ul > li {
  border-top: 2px solid #f3f3f3;
}
.site-listing ul {
  list-style-type: none;
  margin: 0;
}
.site-listing h4 {
  font-size: 1.2em;
  font-weight: 700;
}
.site-listing h4 a {
  text-decoration: none;
}
.site-listing h4 li {
  clear: both;
  padding: 8px 0;
}
.site-listing h4 li .site-info {
  width: 60%;
}
.site-listing h4 li .site-restrictions {
  color: #666666;
}
.site-listing h4 li .site-restrictions span {
  font-weight: 700;
}
.site-listing h4 li .item-list li {
  border: 0;
  margin: 3px 0;
}
.site-listing h4 li div.map-link-wrapper {
  position: relative;
}
.site-listing .map-link {
  display: block;
  width: 70px;
  height: 30px;
  margin: 10px -40px 0 0;
  overflow: hidden;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: 700;
  color: #838383;
  background: url(../images/map-point.png) no-repeat 0 0;
  padding: 5px 0 0 12px;
}
.site-listing .map-link:hover {
  background-position-y: -44px;
  color: #e15440;
}
.site-listing .map-pointer {
  display: none;
  height: 35px;
  width: 51px;
  position: absolute;
}
.site-listing .map-link-wraper:hover .map-pointer {
  display: block;
}
.site-listing address {
  margin: 0;
}
.hero-unit {
  padding: 20px;
  color: #fff;
}
#page .breadcrumb {
  background: none;
  padding-left: 0;
}
