tbody > tr > td.hours-yes, .hours-sample { background: #3E7285 !important; color: #3E7285 !important; }
td.hours-no, td.hours-yes { font-size: 80%; }
td.hours-no { color: rgba(0,0,0,0); }
.matrix-col-header { font-size: 80%; }
.hours-sample { color: #fff; padding: 3px; }
#demographic-total { font-weight: bold; }
  .field-name-field-site-demographics .error { background: #d6473e; color: #fff;  }
  .field-name-field-site-demographics .success { background: #00ae3e; color: #fff;  }

#s4-sites-propose-site-form .form-type-checkbox { margin-bottom: 1.5em; }
  #s4-sites-propose-site-form .form-type-checkbox input { margin-right: -8px; margin-top: -5px;  width: 30px; height: 30px;}
  #s4-sites-propose-site-form .form-type-checkbox label { font-size: 150%; cursor: pointer; }
  #s4-sites-propose-site-form .form-type-checkbox .description { margin-left: 30px; font-size: 110%; }