.views-submit-button { clear: both; }
.report-view .view-content { overflow-x: scroll; }
#edit-dyfield-wrapper label { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }